/* debugging outline */
* {
    /* outline: 1px solid black; */
}

/* Board */
#board {
    /* temp find a better way */
    width: 700px;
    height: 700px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    row-gap: 2px;
    column-gap: 2px;
    background-color: black;
    border: 2px solid black;
}

/* Blocks */
.block {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    row-gap: 1px;
    column-gap: 1px;
    background-color: black;
}

/* Cells */
.cell {
    display: grid;
    grid-template-rows: repeat(3, 1em);
    grid-template-columns: repeat(3, 1em);
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color:white;
}

/* Notes */
.note {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note.eliminated {
    visibility:hidden;
}

/* Values */
.value {
    display:none;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

/* Solved Cells */
.cell.solved .note {
    display:none;
}

.cell.solved .value{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}